.flexbox {
  display: flex;
  flex-direction: column;
}

.flexbox-row {
  display: flex;
  flex-direction: row;
}

.flexbox-center {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px 5px;
}

.jumbotron {
  text-align: center;
}

.feed-gif {
  margin-top: 10px;
  max-width: 500px;
  display: none;
}

.water-gif {
  margin-top: 10px;
  max-width: 500px;
  display: none;
}

.sleep-gif {
  margin-top: 10px;
  max-width: 500px;
  display: none;
}



